:host {

  display: block;
  margin: 10px;

  .background {
    width: 400px;
    height: 400px;
    background: #7cacdb;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }

  .butterfly-container {
    margin: 0 auto;
    width: 360px;
    padding-top: 140px;
  }

  .butterfly {
    width: 132px;
    height: 88px;
    position: relative;
    animation: fly-around 1s infinite;
    animation-timing-function: linear;
    transform-origin: 180px 60px 0px;
    animation-delay: 0s;

    .left-wing,
    .right-wing {
      width: 66px;
      height: 88px;
      position: absolute;
      background: transparent url("/assets/images/wing-left-02.png") top left
        no-repeat;
      background-size: 66px 88px;
    }

    .left-wing {
      transform: perspective(0px) rotate3d(0, 1, 0, 360deg);
      transform-origin: 66px 0px;
    }

    .right-wing {
      transform: perspective(0px) rotate3d(0, 1, 0, 180deg);
      transform-origin: 66px 0px;
    }
  }

  .left-wing-container {
    animation: flutter-left 0.6s infinite;
    animation-delay: 0.4s;
  }

  .right-wing-container {
    animation: flutter-right 0.6s infinite;
    animation-delay: 0.4s;
  }
}