<div class="container">
  <div class="background"></div>
  <div class="butterfly-container">
    <div class="butterfly">
      <div class="left-wing-container">
        <div class="left-wing"></div>
      </div>
      <div class="right-wing-container">
        <div class="right-wing"></div>
      </div>
    </div>
  </div>
</div>
