:host {

  display: block;

  margin: 10px;

  .background {
    width: 400px;
    height: 400px;
    background: #739dbd;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }

  .butterfly-container {
    margin: 0 auto;
    width: 200px;
    padding-top: 135px;
  }

  .butterfly {
    width: 200px;
    height: 134px;
    position: relative;
    /* animation: fly-circle 1s infinite; */
    animation-delay: 0.6s;
    transform-origin: 100px 67px -134px;
    animation-delay: 0.3s;

    .left-wing,
    .right-wing {
      width: 196px;
      height: 260px;
      position: absolute;
      background: transparent url("/assets/images/wing-left-04.png") top left
        no-repeat;
      background-size: 100px 134px;
    }

    .left-wing {
      transform: perspective(0px) rotate3d(0, 1, 0, 360deg);
      transform-origin: 0px 67px;
    }

    .right-wing {
      transform: perspective(0px) rotate3d(0, 1, 0, 180deg);
      transform-origin: 100px 67px;
    }
  }

  .left-wing-container {
    animation: flutter-left 0.6s infinite;
    animation-delay: 0.1s;
  }

  .right-wing-container {
    animation: flutter-right 0.6s infinite;
    animation-delay: 0.1s;
  }
}
