body {
  padding: 5px; 
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

@keyframes flutter-left {
  0% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  }
  10% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }
  20% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }
  30% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }
  40% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }
  50% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -50deg);
  }
  60% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 50deg);
  }
  70% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }
  80% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }
  90% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -50deg);
  }
  100% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }   
}

@keyframes flutter-right {
  0% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  }
  10% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }
  20% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }
  30% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }
  40% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }
  50% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 50deg);
  }
  60% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -50deg);
  }
  70% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }
  90% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 50deg);
  }
  100% {
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
  }    
}

@keyframes fly-circle {
  0% {
    transform: perspective(0px) rotateX(0deg);
  }
  100% {
    transform: perspective(0px) rotateX(360deg);
  }
}

@keyframes fly-around {
  0% {
    transform: perspective(1000px) rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: perspective(1000px) rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes bounce {
  0% {
    transform: perspective(100px) scale3d(1,1, 1)
  }
  50% {
    transform: perspective(100px) scale3d(0.1, 0.1, 0);
  } 
  100% {
    transform: perspective(100px) scale3d(1, 1, 1);
  }
}